<% if current_user %>
  <% if current_user.has_role? :admin %>
    <%= render 'layouts/header' %>
    <div class="container">
      <h4>Add Subscription</h4>
      <%= render "form.html.erb" %>
    </div>
  <% end %>
<% else %>
  <%= render file: 'public/404' %>
<% end %>
