<% if user_signed_in? %>
<% if current_user.has_role? :admin %>
<div class="container">
  <h4>Edit Category</h4>
  <%=render "form"%>
</div>

<% end %>
<% else %>
<%= render file: 'public/404' %>
<% end %>