<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Hello admin</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Dummy Heading</p>
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Index</a>

      </li> 

      <li>
        <a href="#Category" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Category</a>
        <ul class="collapse list-unstyled" id="Category">
          <li>
            <a href="/categories/new">Add Category</a>
          </li>
          <li>
            <a href="/categories">View Category</a>
          </li>
        </ul>
      </li>

      

      <li>
        <a href="#SubCategory" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sub-Category</a>
        <ul class="collapse list-unstyled" id="SubCategory">
          <li>
            <a href=" /sub_categories/new">Add SubCategory</a>
          </li>
          <li>
            <a href="/sub_categories">View SubCategory</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/products">View Products</a>
      </li>

      
      <li>
        <a href="#subscriptions" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Subscriptions</a>
        <ul class="collapse list-unstyled" id="subscriptions">
          <li>
            <a href="/subscriptions/new">Add Sub-Scription</a>
          </li>
          <li>
            <a href="/subscriptions">View Sub-Scription</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#brand" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Brands</a>
        <ul class="collapse list-unstyled" id="brand">
          <li>
            <a href="/brands/new">Add Brands</a>
          </li>
          <li>
            <a href="/brands">View Brands</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/news_letters/new">News-Letter</a>
      </li>

      <li>
        <a href="#State" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">State</a>
        <ul class="collapse list-unstyled" id="State">
          <li>
            <a href="#">Add State</a>
          </li>
          <li>
            <a href="#">Manage State</a>
          </li>
        </ul>
      </li>
      
      <li>
        <a href="#City" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">City</a>
        <ul class="collapse list-unstyled" id="City">
          <li>
            <a href="#">Add City</a>
          </li>
          <li>
            <a href="#">Manage City</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#Area" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Area</a>
        <ul class="collapse list-unstyled" id="Area">
          <li>
            <a href="#">Add Area</a>
          </li>
          <li>
            <a href="#">Manage Area</a>
          </li>
        </ul>
      </li>
    </nav>

    <!-- Page Content  -->
    <div id="content">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-info" onclick="myFunction()">
            <i class="fas fa-align-left"></i>
            <span>Toggle Sidebar</span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">

              <li class="nav-item active">
              <%if user_signed_in? %>
                <%= button_to('Logout', destroy_user_session_path, method: :delete) %>  
                <%else%>
              <%= link_to('Log-In', user_session_path) %> 
              <%end%>
              </li>
        
              <li class="nav-item">
                <a class="nav-link" href=""><%=current_user.email%></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Page</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Page</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

